.page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  background-size: contain;
  position: sticky;
  height: 15%;
  width: 100%;
}

.main {
  display: flex;
  justify-content: space-between;
  height: 70%;
}

.asideLeft {
  background-size: contain;
  width: 25%;
}

.mainBody {
  background-size: contain;
  width: 50%;
}

.asideRight {
  background-size: contain;
  width: 25%;
}

.footer {
  background-size: contain;
  position: sticky;
  bottom: 0;
  height: 15%;
  width: 100%;
}

.button {
  position: absolute;
  top: calc(50% - 25px);
  left: 44%;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  transition: all 0.3s;
}

.button:hover {
  cursor: pointer;
  background-color: gray;
}
